body{
    background-color: rgba(245, 236, 236, 0.548);
}
.table{
    background-color: white;
}
.row:after{
    content: "";
    display: table;
    clear: both;
  }

  table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}
th{
    background-color: coral;
    color: #333;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}